@media (prefers-color-scheme: light) {
    :root {
        --fg-color: Black;
        --bg-color: WhiteSmoke;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg-color: White;
        --bg-color: #222;
    }
}

body {
    max-width: 650px;
    margin: 50px auto;
    padding: 0 10px;
    font-family: sans-serif;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

header {
    text-align: center;
}

header>h1 {
    font-size: 1.5em;
}

a {
    color: var(--fg-color);
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    padding: 0.3em 0.5em;
    border-bottom: 1px solid grey;
}

td:first-child {
    border-right: 1px solid grey;
}
