#content {
    margin: 0 auto;
}
.center {
    text-align: center;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
}
th,
td {
    padding: 5px 10px;
    border-bottom: 1px solid lightgrey;
}
td:first-child {
    border-right: 1px solid lightgrey;
}
a {
    color: black;
}
